.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.register-container {
  margin-left: 30%;
  margin-right: 30%;
}
.register-container2 {
  margin-left: 10%;
  margin-right: 10%;
}
.checkout-container {
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
  text-align: center;
}
.AppWrapper {
  width: 50%;
}
.addPadding {
  padding-left: 100px;
}
@media screen and (max-width: 800px) {
  .addPadding {
    padding-left: 0px;
  }
  .AppWrapper {
    width: 90%
  }
  .register-container {
    margin-left: 3%;
    margin-right: 3%;
  }
  .checkout-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: center;
  }
}

.overflow-scroll {
  overflow-y: scroll;
  height: 900px;
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.new-banner{
  height: 800px;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.hide-input {
  display: none;
}
.new-banner1{
  height: 1200px;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
